@import "common/fonts";
@import "common/functions";
@import "common/variables";
@import "components/dropdowns";
@import "common/reset";
@import 'components/modals';
@import 'components/buttons';
@import "components/navigation";
@import "components/footer";

body {
	font-family: $font-family-def;
	font-size: $font-size-def;
	font-weight: 400;
	line-height: 1.4;
	color: $color-text-def;
	background-color: $color-body-def;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.15;
	font-family: $font-family-def;
}

h1 {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.25;

	@media screen and ($max-lg) {
		font-size: 32px;
	}

	@media screen and ($max-sm) {
		font-size: 30px;
	}

	@media screen and ($max-xs) {
		font-size: 28px;
	}
}

h2 {
	font-size: 32px;
	font-weight: 700;

	@media screen and ($max-lg) {
		font-size: 28px;
	}

	@media screen and ($max-sm) {
		font-size: 26px;
	}
}

h3 {
	font-size: 28px;
	font-weight: 700;

	@media screen and ($max-lg) {
		font-size: 27px;
	}

	@media screen and ($max-md) {
		font-size: 26px;
	}

	@media screen and ($max-sm) {
		font-size: 24px;
	}

	@media screen and ($max-xs) {
		font-size: 22px;
	}
}

h4 {
	font-size: 24px;
	font-weight: 700;

	@media screen and ($max-xs) {
		font-size: 20px;
	}
}

.text-xxl {
	font-size: 46px;

	@media screen and ($max-lg) {
		font-size: 40px;
	}

	@media screen and ($max-md) {
		font-size: 38px;
	}

	@media screen and ($max-sm) {
		font-size: 36px;
	}

	@media screen and ($max-xs) {
		font-size: 34px;
	}
}

.text-lg {
	font-size: 32px;
	font-weight: 300;

	@media screen and ($max-lg) {
		font-size: 28px;
	}

	@media screen and ($max-md) {
		font-size: 26px;
	}

	@media screen and ($max-sm) {
		font-size: 24px;
	}

	@media screen and ($max-xs) {
		font-size: 22px;
	}
}

.text-md {
	font-size: 24px;
	font-weight: 300;

	@media screen and ($max-lg) {
		font-size: 20px;
	}

	@media screen and ($max-xs) {
		font-size: 18px;
	}
}

.text-sm {
	font-size: 18px;
	font-weight: 300;

	@media screen and ($max-xs) {
		font-size: 16px;
	}
}

.text-xs {
	font-size: 14px;
	font-weight: 300;
}

.text-xxs {
	font-size: 12px;
	font-weight: 300;
}

p {
	margin-bottom: 1.5em;
}

a {
	color: $color-link;
	text-decoration: none;

	&:hover {
		color: $color-link;
		text-decoration: underline;
	}
}

.bottom-hover {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		background-color: $color-link;
		height: 2px;
		transition-duration: 250ms;
	}

	&:hover:after {
		width: 100%;
	}
}
