{% from "macro/dropdowns.njk" import dropdownCustom with context %}
{% from "macro/language-dropdown.njk" import languageDropdown with context %}

<nav class="navigation" id="navigation">
  <div class="container navigation__container">
    <div class="navigation__top">
      <a href="{{ '/' | pageLink }}" class="navigation__logo">
        <img src="{{ '/favicon.png' | assetLink }}" alt="">
      </a>
      <div class="navigation__top__mobile navigation--mobile-show">
        {{ languageDropdown(shortCode=true) }}
      </div>
      <button class="navigation__burger hamburger hamburger--slider js-navbar-toggle">
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
      </button>
    </div>

    <div class="navigation__collapse">
      <ul class="navigation__items">
        <li class="navigation__item">
          <a class="navigation__link bottom-hover" href="{{ '/page1' | pageLink }}">
            {{ _("Page 1") }}
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link bottom-hover" href="{{ '/page2' | pageLink }}">
            {{ _("Page 2") }}
          </a>
        </li>
        <li class="navigation__item">
          {{ dropdownCustom("Sections", [
            {"link": "#section1" | pageLink, "text": "Section 1"},
            {"link": "#section2" | pageLink, "text": "Section 2"},
            {"link": "#section3" | pageLink, "text": "Section 3"}
          ]) }}
        </li>
        <li class="navigation__item navigation--mobile-hidden">
          {{ languageDropdown() }}
        </li>
      </ul>
    </div>

    <div class="navigation--mobile-show"></div>
  </div>
</nav>

