{% extends "layout.njk" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ "/css/index.css" | assetLink }}">
{% endblock %}

{% block headEnd %}
{% endblock %}

{% block navigation %}
{% endblock %}


{% block content %}
  <section class="parser">
    <h1 class="parser__title">Статистика зі сторінки МОЗ України</h1>
    <div class="container">
      <div class="parser__handler">

      </div>
    </div>
  </section>

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ "/js/index.js" | assetLink }}"></script>
{% endblock %}
