//colors
$color-text-def: #000;
$color-body-def: #fff;
$color-link: #3179FF;

$font-family-def: Roboto, sans-serif;
$font-size-def: 16px;

//defaults


//media variables
$min-xxs: 'min-width : 320px';
$min-xs: 'min-width : 576px';
$min-sm: 'min-width : 768px';
$min-md: 'min-width : 992px';
$min-lg: 'min-width : 1200px';
$min-xxl: 'min-width : 1600px';

$max-xxs: 'max-width : 320px';
$max-xs: 'max-width : 576px';
$max-sm: 'max-width : 767px';
$max-md: 'max-width : 991px';
$max-lg: 'max-width : 1199px';
$max-xxl: 'max-width : 1600px';
