<!DOCTYPE html>
<html lang="{{ activeLanguage }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ "/favicon.png" | assetLink }}" type="image/x-icon">

  {% from "macro/metas.njk" import metas %}
  {% block meta %}
    {% if meta[activePage] %}{{ metas(meta[activePage]) }}{% else %}{{ metas(meta[""]) }}{% endif %}
  {% endblock %}

  {% block styles %}
    <link rel="stylesheet" href="{{ "/vendor/bootstrap/dist/css/bootstrap.min.css" | assetLink }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/main.css" | assetLink }}" type="text/css">
  {% endblock %}

  {% block headEnd %}
    {% include "partials/head-end.njk" %}
  {% endblock %}
</head>
<body>
{% block bodyStart %}
  {% include "partials/body-start.njk" %}
{% endblock %}

{% block navigation %}
  {% include "partials/components/navigation.njk" %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  {% include "partials/components/footer.njk" %}
{% endblock %}

<div class="modals-container">
  <div class="modal__outer">
    <button type="button" class="modal__close"></button>
    {% include "partials/modals/modal-video.njk" %}
    {% block modals %}{% endblock %}
  </div>
</div>

{% block scripts %}
    <script src="{{ "/vendor/jquery/dist/jquery.min.js" | assetLink }}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="{{ "/vendor/bootstrap/dist/js/bootstrap.min.js" | assetLink }}" type="text/javascript"></script>
    <script src="{{ "/js/main.js" | assetLink }}" type="text/javascript"></script>
    <script src="{{ "/js/modals.js" | assetLink }}" type="text/javascript"></script>
{% endblock %}

{% block bodyEnd %}
  {% include "partials/body-end.njk" %}
{% endblock %}
</body>
</html>
